html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.login-form {
  background-size: cover;
  background-position: center; 
  height: 100vh; 
  width: 120%; 
  display: flex;
  flex-direction: column;
  border: 1px solid none;
  border-radius: 5px;
}
.success, .error {
  color: rgb(184, 3, 3);
  font-weight: 400;
  font-size: 120%;
}

.leftt{
  background-color: rgb(255, 255, 255);
  margin-left: 7%;
  padding: 3% 3% 3% 4%;
  border: 1px solid rgb(130, 130, 130);
  align-items: left;
  margin-right: 65%;
  border-radius: 5px;
  margin-top: 3%;
  box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
}
  .login-form h2 {
    margin-bottom: 7%;
    font-size: 190%;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 3%;
    font-size: 130;
    font-weight: lighter;
  }
  
  .login-form input {
    width: 90%;
    height: 60%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #a3a3a3;
    border-radius: 7px;
  }
  
  .login-form button[type="submit"] {
    background-color: #618264; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2%;
   
    font-weight: bold;
  }
  .login-form p {
    margin-top: 10px; 
  }
  .login-form a {
    color: #007bff; /* Blue */
    text-decoration: none;
  }
  .okk{
    vertical-align: middle;
    justify-content: center;
 padding: 12px;
font-weight: bold;
font-size: 120%;
  }
  .ok{
    font-size: 90%;
    align-items: center;
    text-align: center;
 padding-top: 2%;
  }
  .sign button{
    margin-left: 2%;
    white-space: nowrap;
  width: 19%;
  padding: 3%;
  color:white ;
    background-color:#618264;
    border: none;
    border-radius: 10%;
    text-decoration: underline;
  }
  .sign button:hover{
    background-color: #709573;
    cursor: pointer;
    scale: 1.05;
  }
  .lines{
    vertical-align: middle;
    height: 2px;
    border-radius: 15px;
    width: 45%;
    background-color: #a4a4a4;
    justify-content: center;
  }
  .wh{
align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }
  
